.profile-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.key-name {
  font-weight: bold;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.create-btn {
  background-color: #00ad0c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.profile-content {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-info p {
  padding: 4px;
}

.profile-info h2 {
  margin-bottom: 10px;
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c82333;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-container {
  width: 25rem;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-title {
  font-size: 1rem;
}

.like-button {
  background-color: #3897f0;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.like-button:hover {
  background-color: #2680c2;
}

.post-image {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.my-post{
  text-align: center;
}
.follow-button {
  background-color: #008CBA; /* Blue background */
  color: white; /* White text */
  border: none; /* Remove borders */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  font-size: 16px; /* Increase font size */
  margin: 10px; /* Add margin */
}

.follow-button:hover {
  background-color: #007bb5; /* Darker blue background on hover */
}
