.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
}

.logo {
  font-size: 30px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #bcaeac;
}
.navbar-nav {
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin: auto 10px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #bcaeac;
}
